$color:red;

// 左侧菜单宽度
$base-menu-width: 260px;
// 左侧菜单背景色
$base-menu-bg : #00152B;
// 顶部导航高度
$base-tabbar-height: 60px;

$base-tabbar-bg: 00E7FF;

$base-menu-logo-height: 50px;

$base-menu-logo-text-size:20px;